[submodule "limine"]
        path = limine
        url = https://github.com/limine-bootloader/limine.git
        branch = v4.x-branch-binary

[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "flanterm"]
	path = flanterm
	url = https://codeberg.org/mintsuki/flanterm.git
