# French (fr-FR) 109-key keymap

# Number row
&02 &26 1
&03 é 2
&04 " 3
&05 ' 4
&06 ( 5
&07 - 6
&08 è 7
&09 _ 8
&0A ç 9
&0B à 0
&0C ) °
&0D = +

# Top row
&10 a A
&11 z Z
&12 e E
&13 r R
&14 t T
&15 y Y
&16 u U
&17 i I
&18 o O
&19 p P
&1A ^ ¨
&1B $ £
&1C &0D &0D
&2B * µ

# Left block
&1E q Q
&1F s S
&20 d D
&21 f F
&22 g G
&23 h H
&24 j J
&25 k K
&26 l L
&27 m M
&28 ù %
&29 ² ~

# Lower row
&2C w W
&2D x X
&2E c C
&2F v V
&30 b B
&31 n N
&32 , ?
&33 ; .
&34 : /
&35 ! §
